[submodule "Plugins/PavilionPlugin/ThirdParty/Source/sdformat"]
	path = Plugins/PavilionPlugin/ThirdParty/Source/sdformat
	url = https://github.com/ProfFan/sdformat.git
	branch = nortti
[submodule "Plugins/PavilionPlugin/ThirdParty/Source/assimp"]
	path = Plugins/PavilionPlugin/ThirdParty/Source/assimp
	url = https://github.com/ProfFan/assimp.git
	branch = devel-nortti
[submodule "Plugins/PavilionPlugin/ThirdParty/Source/capnproto"]
	path = Plugins/PavilionPlugin/ThirdParty/Source/capnproto
	url = https://github.com/capnproto/capnproto.git
	branch = release-0.7.0
[submodule "Plugins/PavilionPlugin/ThirdParty/Source/cros"]
	path = Plugins/PavilionPlugin/ThirdParty/Source/cros
	url = https://github.com/ProfFan/cros.git
	branch = master
[submodule "Plugins/RuntimeMeshComponent"]
	path = Plugins/RuntimeMeshComponent
	url = https://github.com/ProfFan/RuntimeMeshComponent.git
	branch = metal-bugfix
